In [ ]:
import pandas as pd
import sqlalchemy
import pymysql
import pyodbc

In [ ]:
odbc_conn = pyodbc.connect('Driver={IBM i Access ODBC Driver}; '
       'SYSTEM = 192.168.0.161;'
        'Hostname=M3; '
        'Port=21; '
        'Protocol=TCPIP; '
        'Database=M3; '
        'UID=pud; '
        'PWD = Pud142;'
        ,autocommit=True)

In [87]:

mysql_conn=sqlalchemy.create_engine("mysql+pymysql://root:ma291188@localhost/test")

In [113]:
def clear_white(s):
    if type(s)==str:
        return s.strip()
    return s

1

In [114]:
%%time
df=pd.read_sql_query(con=odbc_conn,sql="select MSWHSL,MSSLDS,MSRESP,MSCHID from M3FDBTST.MITPCE")

df.applymap(lambda x:clear_white(x))

C:\Users\matan.s\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Wall time: 213 ms

           MSWHSL                          MSSLDS    MSRESP   MSCHID
0       QCPRM-DEV     ביקורת ידנית לפריטים בפיתוח      TAIR  ITADMIN
1         QCSAUTO       ביקורת איכות חצי אוטומטית  MARLEN.B  ITADMIN
2      QCSAUTODEV  ביקורת איכות חצי אוטומטית פיתו  MARLEN.B  ITADMIN
3        QCTZAFON         ביקורת איכות אזור צפוני      TAIR  ITADMIN
4       QCZFN-DEV  ביקורת ייצור צפון -פריט בפיתוח      TAIR  ITADMIN
...           ...                             ...       ...      ...
15103      090620                          090620   INBAR.Z  ITADMIN
15104      090520                          090520   INBAR.Z  ITADMIN
15105      090420                          090420   INBAR.Z  ITADMIN
15106      090320                          090320   INBAR.Z  ITADMIN
15107      090220                          090220   INBAR.Z  ITADMIN

[15108 rows x 4 columns]

In [92]:
df.to_sql(con=mysql_conn,name="MCWCCO_short",if_exists="replace")

C:\Users\matan.s\Anaconda3\lib\site-packages\pandas\io\sql.py:1666: UserWarning: The provided table name 'MCWCCO_short' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

15108

In [108]:
%%time
for i in range(len(df)):
    row=df.iloc[i]
    mysql_conn.execute("update MCWCCO_short set MSCHID=%s where MSCHID='MOSES.TTAR'","MOSES.TTARI")

Wall time: 3min 23s