In [ ]:
import pandas as pd
import sqlalchemy
import pymysql
import pyodbc

In [ ]:
odbc_conn = pyodbc.connect('Driver={IBM i Access ODBC Driver}; '
       'SYSTEM = 192.168.0.161;'
        'Hostname=M3; '
        'Port=21; '
        'Protocol=TCPIP; '
        'Database=M3; '
        'UID=pud; '
        'PWD = Pud142;'
        ,autocommit=True)

In [87]:

mysql_conn=sqlalchemy.create_engine("mysql+pymysql://root:ma291188@localhost/test")

In [89]:
%%time
# MITPCE=pd.read_sql_table(table_name="M3.M3FDBPRD.MITPCE",con=odbc_conn)
df=pd.read_sql_query(con=odbc_conn,sql="select MSWHSL,MSSLDS,MSRESP,MSCHID from M3FDBTST.MITPCE")
for column in df.columns:
    df[column] = df[column].apply(lambda x: str(x).strip())

C:\Users\matan.s\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Wall time: 959 ms

In [92]:
df.to_sql(con=mysql_conn,name="MCWCCO_short",if_exists="replace")

C:\Users\matan.s\Anaconda3\lib\site-packages\pandas\io\sql.py:1666: UserWarning: The provided table name 'MCWCCO_short' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

15108

In [108]:
%%time
for i in range(len(df)):
    row=df.iloc[i]
    mysql_conn.execute("update MCWCCO_short set MSCHID=%s where MSCHID='MOSES.TTAR'","MOSES.TTARI")

Wall time: 3min 23s