In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
import pymysql
import pyodbc

In [2]:
conn = pyodbc.connect('Driver={IBM i Access ODBC Driver}; '
       'SYSTEM = 192.168.0.161;'
        'Hostname=M3; '
        'Port=21; '
        'Protocol=TCPIP; '
        'Database=M3; '
        'UID=pud; '
        'PWD = Pud142;'
        ,autocommit=True)

In [3]:
mysql_conn=sqlalchemy.create_engine("mysql+pymysql://root:ma291188@localhost/test")

In [ ]:
# con1=(data["MSCONO"]==1)
# con2=(data['MSCMNG']==0)
# con3=(data['MSWHLO']=='100')

# data.loc[con1]
# # data.to_csv("baram_list.csv")

In [4]:
# %%time
# sql="SELECT MTWHLO AS wh_code, MTITNO AS item_number,MTTRDT AS tranfer_date,MTBANO AS lot, MTRIDN AS order_number,MTNSTQ AS transfer_quantity,MTNSTQ AS NEW_quantity FROM M3FDBPRD.MITTRA m  WHERE MTCONO =1 AND MTTRDT BETWEEN 20210101 AND 20220101"
# data=pd.read_sql_query(sql=sql,con=conn)

C:\Users\matan.s\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Wall time: 12min 22s

In [5]:
data.to_sql(con=mysql_conn,name="MITTRA",if_exists="replace")

C:\Users\matan.s\Anaconda3\lib\site-packages\pandas\io\sql.py:1666: UserWarning: The provided table name 'MITTRA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

18282517

In [19]:
data_1_m=data[0:1000000].copy()
data_1_m.loc[0,"WH_CODE"]=999