In [ ]:
# %%time
# #MILOMA מתחילים עם טבלת
# #מלכתחילה מביאים את המקט והלוט הראשוניים.
# # LMRORN מוציאים מהטבלה את השדה
# product_number='566011'
# bano='2225890201'
# sql=f"SELECT LMRORN FROM M3FDBTST.MILOMA \
# WHERE LMCONO =1 AND LMITNO ='{product_number}' AND LMBANO ='{bano}'"
# # sql="SELECT * FROM M3FDBTST.MILOMA"
# miloma_table = pd.read_sql(sql,conn)
# lmrorn=miloma_table.iloc[0].LMRORN

In [ ]:
# sql=f"SELECT VMMTNO FROM M3FDBTST.MWOMAT \
# WHERE VMCONO =1 AND  VMMFNO='{lmrorn}'"
# MWOMAT_table=pd.read_sql(sql,conn)
# matiriels=[]
# for i in range(len(MWOMAT_table)):
#     matiriels.append(MWOMAT_table.iloc[i][0].strip())
# # print(MWOMAT_table)

In [ ]:
# # sql=f"SELECT MMITTY FROM M3FDBTST.MITMAS \
# # WHERE MMCONO =1 AND MMITNO ='{matiriels[0]}'"
# # mitmas=pd.read_sql(sql,conn)
# for m in matiriels:
#     sql=f"SELECT MMITTY FROM M3FDBTST.MITMAS \
#     WHERE MMCONO =1 AND MMITNO ='{m}'"
#     temp=pd.read_sql(sql,conn)
#     print(temp.iloc[0][0])

In [ ]:
import pyodbc
import pandas as pd
conn = pyodbc.connect('Driver={IBM i Access ODBC Driver}; '
       'SYSTEM = 192.168.0.161;'
        'Hostname=M3; '
        'Port=21; '
        'Protocol=TCPIP; '
        'Database=M3; '
        'UID=pud; '
        'PWD = Pud142;'
        ,autocommit=True)

In [43]:
from datetime import datetime, timedelta
from random import random
def gen_datetime(min_year=1900, max_year=datetime.now().year):
    
    start = datetime(min_year, 1, 1, 0, 0, 0)
    years = max_year - min_year + 1
    end = start + timedelta(days=365 * years)
    return start + (end - start) * random()

In [ ]:
def get_paka(itno,bano):
    sql=f"SELECT LMRORN FROM M3FDBTST.MILOMA \
    WHERE LMCONO =1 AND LMITNO ='{itno}' AND LMBANO ='{bano}'"
    table = pd.read_sql(sql,conn)
    return(table.iloc[0][0].strip())

In [ ]:
def get_bano(item,mo):
    sql=f"SELECT VMBANO  FROM M3FDBTST.MWOMAT WHERE VMCONO =1 AND  VMMTNO ='{item}' and   VMMFNO='{mo}'"
    table=pd.read_sql(sql,conn)
    try:
        return table.iloc[0][0].strip()
    except:
        return ""

In [ ]:
def get_all_matiriels(paka):
    sql=f"SELECT VMMTNO,VMBANO FROM M3FDBTST.MWOMAT \
    WHERE VMCONO =1 AND  VMMFNO='{paka}'"
    list_of_matiriels=pd.read_sql(sql,conn)
    res=[]
    for i in range(len(list_of_matiriels)):
        res.append([list_of_matiriels.iloc[i][0].strip(),list_of_matiriels.iloc[i][1].strip()])
    return (res)

In [ ]:
def check_type(itno):
    sql=f"SELECT MMITTY FROM M3FDBTST.MITMAS WHERE MMCONO =1 AND MMITNO ='{itno}'"
    table=pd.read_sql(sql,conn)
#     print(table.iloc[0][0].strip())
    return table.iloc[0][0].strip()

In [ ]:
def get_item_description(itno):
    sql=f"SELECT MMITDS FROM M3FDBTST.MITMAS WHERE MMCONO =1 AND MMITNO ='{itno}'"
    table=pd.read_sql(sql,conn)
    if len(table)>0:
        return table.iloc[0][0].strip()

In [ ]:
def run(item,lot):
    paka=get_paka(item,lot)
    matiriels=get_all_matiriels(paka)
    res=[]
    for i in matiriels:
#         print(i)
        if check_type(i[0])=="02":
            res.append(i[0])
        elif check_type(i[0])=="12":
#             print(i)
            run(i[0],i[1])
    for i in res:
        mat.append(i)
        
item='566011'
lot='2225890201'
res=[]
mat=[]
run(item,lot)
print(mat)

for i in mat:
    res.append(get_item_description(i))
res.append(get_item_description(item))
print(res)

In [49]:
from random import randint,choice

ids=[]
name=[]
age=[]
date=[]
cnt=0
for i in range(100000):
    ids.append(i)
    name.append(choice(["matan","raz","romi","may"]))
    age.append(randint(1,34))
    dt=gen_datetime(2000,2022).strftime("%Y-%m-%d")
    dt=dt.split("-")
    temp=""
    for i in dt:
        temp+=i
    if cnt<10:
        print(temp)
        cnt+=1
    date.append(dt)
    
cols=["id","name","age","date"]
values=[ids,name,age,date]
res={}
for i in range(len(cols)):
    res[cols[i]]=values[i]
res=pd.DataFrame(res)
# sql=f"Create table MATAN.Test1 (id int, name varchar(10), age varchar(20), date varchar(20))"

20150415
20130106
20200922
20090820
20110219
20150501
20200125
20081121
20120216
20220409

In [ ]:
# sql=f"insert into MATAN.Test1 (id,name,age,date) values('1','matan','34','2022-12-07')"
# pd.read_sql_query(sql,conn)

In [45]:
res.to_csv("test1.csv")